@font-face {
  font-family: 'iconfont';  /* https://www.iconfont.cn/ */
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff2') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
[class^="icon-"], [class*=" icon-"]{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list::before{
  content:"\e6a0"
}
.icon-chaxun::before{
  content:"\e606"
}
.icon-fanhui::before{
  content:"\e677"
}
.icon-zanting::before{
  content:"\e614"
}
.icon-bofang::before{
  content:"\e607"
}
.icon-down::before{
  content:"\e639"
}
.icon-up::before{
  content:"\e617"
}
.icon-musicList::before{
  content:"\e67a"
}
.icon-liebiaoxunhuan::before{
  content:"\e60e"
}
.icon-suiji::before{
  content:"\e612"
}
.icon-danquxunhuan::before{
  content: "\e608"
}
.icon-ffw::before{
  content:"\e62a"
}
.icon-Rew::before{
  content:"\e62b"
}
.icon-icons-::before{
  content:"\e66a"
}
.icon-like::before{
  content:"\e64d"
}