html,
body{
    line-height: 1;
    font-family: Arial;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: $color-background;
    color: $color-text;
}

.play {
    animation: rotate 30s linear infinite;
}
.pause {
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}